.char2 {
  width: 440px;
  margin-top: 60px;
  margin-left: -1.72px;
}

.char-title3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15.6px;
  width: 440px;
}

.char-title3 span {
  color: #42427d;
  font-size: 24px;
  font-weight: 700;
  height: 31px;
  line-height: 30.53px;
}

.char-title3 select {
  width: 116.22px;
  height: 52px;

  border-radius: 23px 10px 23px 10px;
}

.char-title3 select option {
  text-align: center;
  font-size: 12.48px;
  font-weight: 500;
  border: 2px solid #000;
}

.char-small {
  margin-top: 15px;
  margin-left: -8.58px;
}
