.char {
  width: 808px; /* Chuyển từ 662.22px sang rem */
  height: 575px;
}

.char-title {
  display: flex;
  justify-content: space-between;

  margin-bottom: 35px;
}

.char-title span {
  color: #42427d;
  font-weight: 700;
  font-size: 24px;
  height: 31px;
}

.char-title select {
  width: 116px; /* Chuyển từ 116.22px sang rem */
  border-radius: 1.4375rem 0.625rem 1.4375rem 0.625rem; /* Chuyển từ 23px 10px sang rem */
  height: 52px;
}

.char-title select option {
  text-align: center;
  font-size: 0.78rem; /* Chuyển từ 12.48px sang rem */
  font-weight: 500;
  border: 0.125rem solid #000; /* Chuyển từ 2px sang rem */
}

.charline {
  margin-left: -44px; /* Chuyển từ -14.82px sang rem */
  width: 624px; /* Điều chỉnh kích thước cho màn hình lớn hơn */
  height: 360px;
}
