.content-col-1 {
  width: 52.87%; /* Thay đổi từ rem sang vw */
  margin-top: 35px;
  margin-left: 99px;
}

.content-col-2 {
  width: 27.79%;
  margin-top: 50px;
}

.content-col-1 span {
  color: #42427d;
  font-weight: 400;
  font-size: 45px;
  line-height: 57.24px;
  font-weight: 400;
  width: 46.3%;
}

.stats {
  width: 100%;
  margin-top: 50px;
  height: 152px;
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
  margin-bottom: 60px;
  gap: 10px;
}

.stats-order {
  width: 39.6%;
  background-color: #c7f2ff;
  border-radius: 2.4375rem 0.4875rem 2.4375rem 0.4875rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 37px;
}

.stats-profit {
  width: 54.45%;
  background-color: #ffe5ee;
  border-radius: 0.4875rem 2.4375rem 0.4875rem 2.4375rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.975rem;
}

.search-box {
  position: relative;
  width: 218px; /* Chuyển từ 218.4px sang rem */
  height: 44px; /* Chuyển từ 43.68px sang rem */
}

.search-input {
  background-color: #f3f6ff;
  padding: 031.2px 15.6px; /* Chuyển từ 31.2px 15.6px sang rem */
  border: 0.125rem solid #7979b2; /* Chuyển từ 2px sang rem */
  border-radius: 1.4375rem 0.625rem 1.4375rem 0.625rem; /* Chuyển từ 23px 10px sang rem */
  font-size: 0.78rem; /* Chuyển từ 12.48px sang rem */
  width: 123.2%;
  height: 56px;
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  right: -30px;
  font-size: 1.5rem;
}

.bell-but {
  background-color: #f3f6ff;
  border-radius: 1.4375rem 0.625rem 1.4375rem 0.625rem; /* Chuyển từ 23px 10px sang rem */
  margin-left: 61px;
  height: 56px;
  width: 56px;
}

.image {
  border-radius: 1.4375rem 0.625rem 1.4375rem 0.625rem; /* Chuyển từ 23px 10px sang rem */
  width: 56px;
  height: 56px;
}

.nav {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.start-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 -2px;
}

.icon {
  margin-right: 7.8[x]; /* Chuyển từ 7.8px sang rem */
  font-size: 1.17rem; /* Chuyển từ 18.72px sang rem */
  color: #42427d;
  background-color: #f3f6ff;
  border-radius: 0.73125rem 0.24375rem 0.73125rem 0.24375rem; /* Chuyển từ 11.7px 3.9px sang rem */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.72%;
  height: 56px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.numbers {
  color: #42427d;
  font-size: 32px;
  font-weight: 700;
}

.name {
  font-size: 23px; /* Chuyển từ 12.48px sang rem */
  color: #42427d;
  font-weight: 500;
}

.deal {
  margin-left: 7.8px; /* Chuyển từ 7.8px sang rem */
  font-size: 0.78rem; /* Chuyển từ 12.48px sang rem */
  font-weight: 700;
  color: #ffffffff;
  background-color: #42427d;
  border-radius: 0.4875rem 0.0975rem 0.4875rem 0.0975rem; /* Chuyển từ 7.8px 1.56px sang rem */
  height: 1.51125rem; /* Chuyển từ 24.18px sang rem */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 7.8px; /* Chuyển từ 7.8px sang rem */
  line-height: 0.991875rem; /* Chuyển từ 15.87px sang rem */
}
@media (max-width: 1800px) {
  .search-box {
    width: 183px; /* Chuyển từ 218.4px sang rem */
  }
  .bell-but {
    margin-left: 48px;
  }
}
@media (max-width: 1700px) {
  .numbers {
    font-size: 20px;
  }
  .name {
    font-size: 16px;
  }
  .search-icon {
    right: 21px !important;
  }
  .search-input {
    width: 79.2% !important;
  }
  .bell-but {
    margin-left: -21px;
  }
}
@media (max-width: 1250px) {
  .search-icon {
    right: 55px !important;
  }
  .search-input {
    width: 45% !important;
  }
  .bell-but {
    margin-left: -64px;
  }
}
@media (max-width: 1150px) {
  .search-icon {
    right: 135px !important;
  }
  .search-input {
    display: none;
  }
  .bell-but {
    margin-left: -116px;
  }
}
@media (max-width: 1400px) {
  .stats {
    width: 100%;
    margin-top: 50px;
    height: 152px;
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
    margin-bottom: 60px;
    gap: 5px;
    flex-direction: column;
  }
  .stats-order {
    width: 100%;
    background-color: #c7f2ff;
    border-radius: 2.4375rem 0.4875rem 2.4375rem 0.4875rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 37px;
    height: 76px;
  }

  .stats-profit {
    width: 100%;
    background-color: #ffe5ee;
    border-radius: 0.4875rem 2.4375rem 0.4875rem 2.4375rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.975rem;
    height: 75px;
  }
}

@media (max-width: 1162px) {
  .name {
    font-size: 16px !important;
  }
}
