.navigation {
  width: 16vw; /* Giữ nguyên giá trị gốc theo viewport */
  margin-top: 14vh; /* Giữ nguyên giá trị gốc theo viewport */
  margin-left: 2vw; /* Giữ nguyên giá trị gốc theo viewport */
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-links li {
  position: relative; /* Thêm position relative */
  width: 18vw; /* Giữ nguyên giá trị gốc theo viewport */
  height: 8vh; /* Giữ nguyên giá trị gốc theo viewport */
  border-radius: 2vh; /* Giữ nguyên giá trị gốc theo viewport */
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
}

.navbar-links li:first-child::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 55px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 7.5px 7.5px 0 7.5px #fff;
  z-index: 1; /* Đảm bảo ::before không bị che khuất */
}
.navbar-links li:first-child::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 55px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 7.5px -7.5px 0 7.5px #fff;
  z-index: 1; /* Đảm bảo ::before không bị che khuất */
}

.navbar-links li a {
  text-decoration: none;
  color: #a0aac8;
  font-size: 1rem; /* Sử dụng rem để đảm bảo kích thước phông chữ linh hoạt */
  font-weight: 500;
  margin-left: 1.5vw; /* Giữ nguyên giá trị gốc theo viewport */
}

.navbar-links li:first-child,
.navbar-links li:first-child:hover {
  background-color: #ffffff; /* Áp dụng màu nền khi hover */
}

.navbar-links li:first-child > .bi,
.navbar-links li:first-child > a {
  color: #42427d;
  font-weight: 700;
}

.navbar-links li > .bi {
  color: #a0aac8;
  font-weight: 500;
  font-size: 2vw; /* Giữ nguyên giá trị gốc theo viewport */
  margin-left: 2vw; /* Giữ nguyên giá trị gốc theo viewport */
}

@media (min-width: 1920px) {
  .navigation {
    width: 524px; /* Điều chỉnh cho màn hình lớn hơn */
    margin-top: 8vh;
    margin-left: 4vw;
  }

  .navbar-links li {
    width: 320px;
    height: 80px;
    border-radius: 1.5vh;
  }

  .navbar-links li a {
    font-size: 20px; /* Điều chỉnh kích thước phông chữ */
    margin-left: 1.2vw;
    font-weight: 700;
  }

  .navbar-links li > .bi {
    font-size: 1.3vw;
    margin-left: 1.8vw;
  }
  .navbar-links li:first-child::before {
    top: -20px;
    right: 40px;

    border-bottom-right-radius: 20px;
    box-shadow: 7.5px 7.5px 0 7.5px #fff;
    z-index: 1; /* Đảm bảo ::before không bị che khuất */
  }
  .navbar-links li:first-child::after {
    bottom: -20px;
    right: 40px;

    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 7.5px -7.5px 0 7.5px #fff;
    z-index: 1; /* Đảm bảo ::before không bị che khuất */
  }
}
