.top-title {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
  margin-bottom: 49px;
  width: 100%;
}

.top-title span {
  color: #42427d;
  height: 31px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.53px;
}

.top-title a {
  color: none;
  height: 24.18px;
  text-decoration: none;
  margin-top: 3.9px;
}

/* top list */
/* Container block */
.block {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  height: 49.92px;
  gap: 15.6px;
  margin-bottom: 40px;
}

/* Badge styling */
.badge {
  display: flex; /* Use flexbox for centering content */
  align-items: center; /* Center the number vertically */
  justify-content: center; /* Center the number horizontally */
  color: #7979b2;
}

/* Image styling */
.image2 {
  object-fit: cover; /* Ensure image covers the area without distortion */
  border-radius: 15px 5px 15px 5px;
  width: 64px;
  height: 64px;
}

/* Container for text information */
.info {
  display: flex;
  flex-direction: column; /* Stack text elements vertically */
}

/* Name styling */
.name {
  margin-bottom: 3.9px;
  color: #42427d;
  font-size: 20px;
  height: 25px;
  line-height: 25.44px;
}

/* Price styling */
.price {
  font-size: 18.72px;
  color: #42427d;
  font-weight: 700;
}

@media ((min-width: 1920px)) {
}
