* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: auto;
  background-color: #e2eaf7;
  border-radius: 28.8px; /* Điều chỉnh cho màn hình lớn hơn */
}

.container {
  display: flex;
  justify-content: space-around;
}

.col-1 {
  width: 19.17%; /* Điều chỉnh kích thước cho màn hình lớn hơn */
}

.col-2 {
  width: 79.17%;
}

.col-2 .content {
  background-color: #ffffff;
  border-radius: 3.12vw; /* Giữ nguyên giá trị vw */

  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: -38px;
  display: flex;
  gap: 7%; /* Chuyển đổi từ 90px sang vw */
}

@media (max-width: 1600px) {
  .col-1 {
    margin-left: -88px;
  }
}
